body{
    height: 1000px;
}

#myCarousel{

    margin-top: 10%;
}

.container marketing{
 display: flex;
    justify-content: center;
}

.title{
    margin-top: 10%;

}

@media screen and (max-width: 1000px) {
    .title{
        margin-top: 30%;

    }
}

.row{
    margin-top: 5%;
    justify-content: center;

}


.d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top{
    margin-top: 5%;
}



/*Search bar*/

.search_bar{
    margin-top: 5%;
}

.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);

}

.search input{

    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;


}


.search input:focus{

    box-shadow: none;
    border: 2px solid blue;


}

.search .fa-search{

    position: absolute;
    top: 20px;
    left: 16px;

}

.search button{

    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue;

}

.login_button{
    text-decoration: none;
}

.error{
    border: #FF416C solid 2px;
}

.username{
    margin-left: 2%;
    margin-top: 1%;
    font-size: 1.5em;
    margin-bottom: 1%;
}