.container_card{
    margin-top: 10%;
}

.price_h, .text-success{

    margin-left: 30%;
}

.text-justify{
    inline-size: 90%
}

.price_n{

    margin-left: 30%;
}
.login_button{
    text-decoration: none;
}

 #card_border{
     border: 1px solid #969696;
     border-radius: 10px;
     /*background-color: #3b5998;*/
     /*color: #cccccc;*/

}

.username{
    margin-left: 2%;
    margin-top: 1%;
    font-size: 1.5em;
    margin-bottom: 1%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


p{
    color: #222222;
}

.invisible{
    display: none;
}


.h3_error{

    text-align: center;


    color: #3b5998;
    text-wrap: none;
    font-size: 2em;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 20px;
    text-shadow: #cccccc 0px 0px 10px;
    background-color: #cccccc;
    padding: 5px;
    border-radius: 5px;
    margin-top: 2%;

    animation: blinker 1s linear 2 forwards;




}